.register {
  background-color: #f2e8db;
  max-width: 35vw;
  margin-inline: auto;
  padding: 2rem 6rem;
  border-radius: 0.2rem;
  color: black;
  border: 1px solid #bc8c4c;
}

@media screen and (max-width: 800px) {
  .register {
    max-width: unset;
    padding: 1rem;
  }
}
